<!DOCTYPE html>
<html lang="en">
<%- include('./partials/header.ejs') %>

    <body>
        <%- include('./partials/navbar.ejs') %>

            <div class="container mx-auto px-4">
                <div class="flex flex-wrap my-8">
                    <div class="w-full">
                        <div class="overflow-x-auto">
                             <div class="w-5/6 m-auto h-10">
                <% if (message) { %>
                    <div class="flex items-center justify-between p-4 mb-4 rounded-lg shadow text-white
              <%= message.type == 'success' ? 'bg-green-500' : 
                  message.type == 'danger'? 'bg-red-500' :'bg-yellow-500' %>">
                        <strong>
                            <%= message.message %>
                        </strong>
                        <button class="text-white hover:text-gray-200 text-xl font-bold leading-none"
                            onclick="this.parentElement.remove()" aria-label="Close">
                            &times;
                        </button>
                    </div>
                    <% } %>
            </div>
            <% if(users !="" ) { %>
                            <table class="min-w-full divide-y divide-gray-200 bg-white shadow rounded-lg">
                                <thead class="bg-gray-100">
                                    <tr class="bg-black text-white">
                                        <th class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider">ID
                                        </th>
                                        <th class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider">
                                            Image</th>
                                        <th class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider">
                                            Name</th>
                                        <th class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider">
                                            E-Mail</th>
                                        <th class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider">
                                            Phone</th>
                                        <th class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider">
                                            Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                     <% users.forEach((row,index)=> { %>
                                    <tr>
                                        <td><%= index %></td>
                                        <td><img src="<%= row.image %>" alt="" class="w-20 h-20 my-4"></td>
                                        <td><%= row.name %></td>
                                        <td><%= row.email %></td>
                                        <td><%= row.phone %></td>
                                        <td class="py-2 px-4 flex items-center mt-8 gap-4"><a href="/edit/<%= row._id %>"><img src="/edit.png"
                                            alt=""></a><a href="/delete/<%= row._id %>"><img src="/delete.png" alt=""></a></td>
                                    </tr>
                                    <% }) %>
                                </tbody>
                            </table>
                            <% } else { %>
                    <h1 class="text-center mt-5 text-5xl text-white">No users found !..</h1>
                    <% } %>
                        </div>
                    </div>
                </div>
            </div>

            <%- include('./partials/footer.ejs') %>
    </body>

</html>